form{
    border: 2px solid rgba(83, 78, 78, 0.116);
    border-radius: 5px;
    background-color: rgba(83, 78, 78, 0.041);
    margin: 100px;
    padding: 40px;
    width: 305px;
    height: 150px;
    margin-top: 40px;
    margin-left: 480px;
}

h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.input{
    border: rgba(238, 0, 0, 0.116);
    border-radius: 5px;
    background-color: rgba(83, 78, 78, 0.116);
    width: 300px;
    height: 30px;
}

.input:hover{
    background-color: rgba(51, 45, 45, 0.171);
}

button{
    background-color: #1971C2;
    border: blue;
    border-radius: 5px;
    color: white;
    width: 305px;
    height: 30px;
}

.button:hover {
    background-color: #1864AB;
}

/*sobre transição de cor suave */
/*sobre mover objetos individualmente */
